In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv("WineQT.csv")
data = data.drop("Id", axis=1)

In [16]:
for i in data.columns:
    print(f"Количество пустых строчек в колонке {i}: {data[i].isna().sum()}")

Количество пустых строчек в колонке fixed acidity: 0
Количество пустых строчек в колонке volatile acidity: 0
Количество пустых строчек в колонке citric acid: 0
Количество пустых строчек в колонке residual sugar: 0
Количество пустых строчек в колонке chlorides: 0
Количество пустых строчек в колонке free sulfur dioxide: 0
Количество пустых строчек в колонке total sulfur dioxide: 0
Количество пустых строчек в колонке density: 0
Количество пустых строчек в колонке pH: 0
Количество пустых строчек в колонке sulphates: 0
Количество пустых строчек в колонке alcohol: 0
Количество пустых строчек в колонке quality: 0

In [17]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

In [18]:
X = data.drop("quality", axis=1)
y = data["quality"]

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=3)

In [21]:
pd.concat([X_train, y_train], axis=1).to_csv("TrainData.csv", index=False)

In [22]:
pd.concat([X_test,y_test],axis = 1).to_csv("TestData.csv", index=False)